<template>
  <div class='content'>
    <div class='content__item' v-for='text, index in items'>
      <h2>Header{{index + 1}}</h2>
      <span class='content__item__description'>
        {{ text }}
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          "Humpty Dumpty",
          "Divinity Original Sin",
          "Broccoli",
          "Best Reverser",
          "Scrolled Down a Bit",
          "Scrolled Some More",
          "The Last Item"
        ]
      }
    }
  }
</script>

<style lang='scss'>
  .content {
    &__item {
      height: 90px;
      
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      
      h2 {
        font-size: 42px;
        font-weight: lighter;
        margin: 0;
        padding: 0;
      }
      
      &__description {
        font-size: 11px;
        line-height: 1.5em;
      }
    }
  }
</style>