<template>
  <header class='header'>
    <div class='header__tag' v-for='i in [1,2,3,4,5,6]'>
      TAG{{ i }}
    </div>
  </header>
</template>

<script>
  export default {}
</script>

<style lang='scss'>
  .header {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 115px;
    padding: 8px 0;
    
    &__tag {
      width: 50%;
      font-size: 13px;
      padding: 6px 0;
    }
    
    
  }
</style>