<template>
  <nav class='nav-bar'>
    <button class='nav-bar__button nav-bar__button_menu'>
      <i class='nav-bar__icon fa fa-bars'></i>
    </button>
    
    <button class='nav-bar__button nav-bar__button_search'>
      <i class='nav-bar__icon fa fa-search'></i>
    </button>
  
    <button class='nav-bar__button nav-bar__button_profile'>
      <i class='nav-bar__icon fa fa-user'></i>
    </button>
    
    <div class='nav-bar__ticket'>
      <i class='nav-bar__icon nav-bar__ticket__icon fa fa-ticket'></i>
      <span class='nav-bar__label'>VerticalTXT</span>
    </div>
    
    <div class='nav-bar__language'>
      <span class='nav-bar__label'>
        EN
      </span>
    </div>
  </nav>
</template>

<script>
  export default {}
</script>

<style lang='scss'>
  .nav-bar {
    position: fixed;
    
    height: 100%;
    width: $nav-bar-width;
    
    right: 0;
    top: 0;
    
    background-color: $nav-bar-background-color;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__label {
      width: 1ch;
      text-align: center;
      word-wrap: break-word;
      display: block;
      font-size: 13px;
    }
    
    &__button {
      background: none;
      border: none;
      
      padding: 0;
      margin: 0;
      
      width: $nav-bar-width;
    }
  
    &__icon {
      width: $nav-bar-width;
      font-size: 24px;
      text-align: center;
      line-height: 36px;
    }
    
    &__ticket {
      height: 230px;
      background: white;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      
      margin: 20px 0 40px;
  
      &__icon {
        line-height: 1em;
      }
    }
    
    &__language {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>