<template>
  <div class='wrapper'>
    <div class='content-wrapper'>
      <the-header />
      <the-content />
    </div>
    <the-nav-bar />
  </div>
</template>

<script>
  import TheHeader from '~/components/TheHeader';
  import TheNavBar from '~/components/TheNavBar';
  import TheContent from '~/components/TheContent';
  
  export default {
    components: {TheHeader, TheNavBar, TheContent}
  }
</script>

<style lang='scss'>
  .wrapper {
    width: 100%;
    position: relative;
    display: block;
  }
  
  .content-wrapper {
    width: calc(100% - #{$nav-bar-width});
  
    padding: 25px;
  }
</style>